.register {
    padding-top: 130px;
    background-image: url('/image/web/register.jpg');
    background-size: cover;
    opacity: 2;
    padding-bottom: 150px;
}
.register form{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white;
    padding: 50px 40px 100px 40px;
    opacity: 0.9;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.03);
   
}
.register form h1{
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 600;
    width: 100%;
    text-align: center;
    
}
.register form>div{
    margin-top: 20px;
    width: 100%;
    position: relative;
}
.register form button{
    margin-top: 30px;
    background-color: #3fd0d4;
    border: none;
    width: 100%;
    padding: 20px;
    opacity: 2;
    font-size: 1.3rem;
}

.register form  input{
    position: relative;
}
.register form  i{
    position: absolute;
    top: 40px;
    right: 30px;
    color: red;
    display: none;
}
.register form div .d-e{
   margin-top: 3px;
    font-size: 14px;
    color: red;
    margin-left: 5px;
    display: none;
}
.register form  .error .d-e{
    display: block;
}
.register form  .error i{
    display: block;
}
.register form .error input{
    border: 1px solid red;
}
.register form .login{
    width: 100%;
    text-align: right;
    font-size: 13px;
    margin: 10px 0 30px auto;
}
.register form .login a{
    color: #3fd0d4;
}
.register .form-check{
    display: flex;
    gap: 200px;
}